html {
    width: 100%;
    height: 100vh;
    background-color: #303035;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
}
@font-face {
    font-family: 'Berylium BD';
    src: url('assets/font/berylium bd.otf') format('opentype');
}

.logo {
    width: 500px;
    image-rendering: pixelated;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    margin-top: -56px;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #444444;
    border-radius: 10px;
    width: 625px;
}
#browser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
}
#browser img {
    width: 60%;
    max-height: 60%;
    object-fit: contain;
}

#search {
    width: 100%;
    height: 50px;
    background-color: #444444;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #444444;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.popupContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popupHeader h2 {
    margin: 0;
    font-size: 24px;
}

.popupHeader p {
    margin: 0;
    font-size: 16px;
}

.popupBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popupBody p {
    margin: 0;
    font-size: 18px;
}

.popupFooter {
    display: flex;
    justify-content: flex-end;
}

.popupFooter button {
    background-color: #303035;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.popupFooter button:hover {
    background-color: #505050;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#toggleSaved {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
}

#toggleSaved svg {
    width: 60%;
    max-height: 60%;
    object-fit: contain;
}


.savedURLs {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #444444;
    width: 625px;
    overflow-y: auto;
}

.savedCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #444444;
    width: 100px;
    height: 120px;
}